  <div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <a href="/">
        <div class="navbar-header">
          <%= image_tag "the-logo", class:"navbar-brand" %>
        </a>
        </div>

        <% if @current_user == nil %>
          <p class="navbar-text navbar-right"><a href = "/About">About</a></p>
          <p class="navbar-text navbar-right"><a href = "/Team">Team</a></p>
          <p class="navbar-text navbar-right"><%= link_to("Sign up", controller: 'access', action: 'new') %></p>
        <% elsif @current_user.admin == true %>
          <p class="navbar-text navbar-right"><a href = "/logout">Logout</a></p>
          <p class="navbar-text navbar-right"><%= link_to("+ claim", new_claim_path) %> | </p>
          <p class="navbar-text navbar-right"><a href = "/users/<%=@current_user.id%>/edit"><%= @current_user.username %></a> | </p>
        <% else %>
          <p class="navbar-text navbar-right"><a href = "/logout">logout</a></p>
          <p class="navbar-text navbar-right"><%= link_to("+ claim", new_claim_path) %> | </p>
          <p class="navbar-text navbar-right"><%= @current_user.username %> | </p>
        <% end %>
    </nav>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">

    <h1><%= @claims.first.subject %></h1>
    <h4><%= @claims.first.subject_uid%></h4>

    <% @claims.each do | verb | %>
      <% if verb.verb != "exists" && verb.verb != "is" %>
        <hr>
        <h2><%= verb.verb %></h2>
          <div class="verblock">
          <span id="verbs">
            <% @claims.each do | obj | %>
              <% if obj.verb == verb.verb && obj.object != nil %>
                <span class="project-tag btn btn-info btn-sm" id="<%= obj.object %>"><%= obj.object %></span>
              <% end %>
            <% end %>
          </span>
            <input id="<%= verb.verb %>" name="newobj" class="form-control object-typeahead newobj" placeholder="add object" autocomplete="off" autofocus>
            <div id="result<%= verb.verb %>"></div>
          </div>
      <% end %>
    <% end %>

    <hr>

    <span class="typeahead-query">
      <input id="newverb" class="form-control typeahead verb-typeahead" nplaceholder="add verb" autocomplete="off" autofocus>
    </span>

    <div id="update"></div>

    </div>
  </div>



<script type="text/javascript">


function getVerbs(){
  return $.getJSON('/get_verbs', function(data){
  });
}


$.when(getVerbs()).done(function(data){
  $('#newverb').keyup(function(e) {
    if (this.value.length > 2){

      var output = '<div class="result">';
      var searchField = $('#newverb').val();
      var myExp = new RegExp(searchField, "i");

      if (e.which == 13 ) {
        e.preventDefault();
        $.ajax({
              type: "POST",
              url: "<%= claims_path %>"+ ".json",
              data: {"claim[subject]": "<%= @claims.first.subject %>", "claim[subject_uid]": "<%= @claims.first.subject_uid %>" , "claim[verb]": searchField },
              success: function(data) {
                console.log(data);
                location.href="/claims/"+ data;
              }
            });
        } else {

          console.log(this.value);

          data.forEach(function(val,key){

            if (val.subject.search(myExp) != -1){
              console.log (val.subject);
              output += '<h4 class="typeaheadresult"><a href="claims/' + val.subject +'">' + val.subject + '</h4>';
              output += '<br>';
            }
          });

          $('#update').html(output);

          $('.typeaheadresult').hover (function (){
              var result = $(this).text();
              $('#newverb').val(result);
          });

          $('.typeaheadresult').click (function (){
              console.log("clicked");
              var result = $(this).text();
              event.preventDefault();
              $.ajax({
                    type: "POST",
                    url: "<%= claims_path %>"+ ".json",
                    data: {"claim[subject]": "<%= @claims.first.subject %>", "claim[subject_uid]": "<%= @claims.first.subject_uid %>" , "claim[verb]": result },
                    success: function(data) {
                      console.log(data);
                      location.href="/claims/"+ data;
                  }
                });
          });
        }
      }
    });
  });




////////////





function getObjects(){
  return $.getJSON('/get_objects', function(data){
  });
}

$.when(getObjects()).done(function(data){

  console.log(data);
  ids = [];

  $('.newobj').each(function(i, obj) {
    ids.push(this.id);
  });

  $.each(ids, function (){
    $("#" + this).keyup( function (e){

      if (this.value.length > 2){

        if (e.which == 13 ) {
        event.preventDefault();
        var result = $(this).text();
        $.ajax({
              type: "POST",
              url: "<%= claims_path %>"+ ".json",
              data: {"claim[subject]": "<%= @claims.first.subject %>", "claim[subject_uid]": "<%= @claims.first.subject_uid %>" , "claim[verb]": result },
              success: function(data) {
                console.log(data);
                location.href="/claims/"+ data;
            }
          });
        } else {

          var output = '<div class="result">';
          var searchField = $(this).val();
          var myExp = new RegExp(searchField, "i");
          var outputid = "#result" + this.id;
          console.log(searchField + ' '+ this.id);

          data.forEach(function(val,key){

            if (val.subject.search(myExp) != -1){
              console.log (val.subject + "result");
              output += '<h4 class="typeaheadresult"><a href="claims/' + val.subject +'">' + val.subject + '</h4>';
              output += '<br>';
            }
          });

          $(outputid).html(output);

        }
      }
    });
  });
});







</script>